<%- include("partials/header") %>
<br><br><br>
<div class = "container col-md-6 jumbotron">
    <h1>SIGN UP</h1>
    <form action="/memehub/meme" method="POST">
        <div class="form-group">
          <label for="Username">Username</label>
          <input type="text" class="form-control" name="name" placeholder="DSGAS">
        </div>
        <div class="form-group">
          <label for="UserEmail">Email address</label>
          <input type="email" class="form-control" name="Email" placeholder="name@example.com">
        </div>
        <div class="form-group">
            <label for="UserPassword">Password</label>
            <input type="password" class="form-control" name="Password" placeholder="Password">
        </div>
        <div class="form-group">
            <label for="UserCPassword">Confirm password</label>
            <input type="password" class="form-control" name="CPassword" placeholder="Password Confirm">
        </div>
        <center><button type="submit" class="btn btn-primary">SIGN UP</button></center>
      </form>
</div>
<%- include("partials/footer") %>