<%- include("partials/header") %>
<br><br><br>
<div class = "container col-md-6 jumbotron">
    <h1>SIGN UP</h1>
    <form action = '/memehub/signup' method = 'POST'>
      <input type='text' name='username' placeholder="Username" required>
      <input type='password' name='password' placeholder="Password" required>
      <button>Sign me up</button>
  </form>
</div>
<%- include("partials/footer") %>