<%- include("partials/header") %>
<div class="container col-md-6 jumbotron" style="margin:25px auto;">
  <h1 style="text-align: center;">Sign up</h1><br>
    <form action = '/edumeme/signup' method = 'POST'>
      <a style="text-align: left; margin-left: 20%;">Username</a>
      <center><input type='text' class="form-control" name="username" placeholder="Enter username" required style="width: 60%;"></center><br>
      <a style="text-align: left; margin-left: 20%;">Email address</a>
      <center><input type="email" class="form-control" name="email" placeholder="Example@mail.com" required style="width: 60%;" ></center><br>
      <a style="text-align: left; margin-left: 20%;">Name</a>
      <center><input type="text" class="form-control" name="name" placeholder="Enter name" required style="width: 60%;" ></center><br>
      <a style="text-align: left; margin-left: 20%;">Password</a>
      <center><input type='password' class="form-control" name="password" placeholder="Enter Password" required style="width: 60%;"></center><br>
      <center><button class="btn btn-warning">Sign me up</button></center>
  </form>
</div>
<%- include("partials/footer") %>