<%- include("partials/header") %>
<div class="container" style="margin:25px auto;">
    <h1>Edumeme Terms of Service</h1>
    <div class="row" style="display:flex; flex-wrap:wrap;">
        <div class = "container" style=" margin-right: 200px;">
            <h4>Thank you for using Edumeme! We're happy you're here. 
                Please read this Terms of Service agreement carefully before accessing or using Edumeme. 
                Because it is such an important contract between us and our users, we have tried to make it as clear as possible. 
                For your convenience, we have presented these terms in a short non-binding summary followed by the full legal terms.</h4>
            <br>
            <h5 style="text-align: right; color: darkgrey;">"Copypaste from Github terms"</h5>
            <div style="text-align: right; color: darkgray">
                <h6>Contact with dev.</h6>
                <a href="https://www.facebook.com/ImZekai" ><i class="fab fa-facebook-square"></i></a>
                <a href="https://www.instagram.com/_trp._/"><i class="fab fa-instagram-square"></i></a>
            </div>
        </div>
    </div>    
</div>