<%- include("../partials/header") %>
<div class="container" style="margin:25px auto;">
    <div class="jumbotron" style="text-align: center;">
        <h2>Category</h2>
    </div>
</div>
<div class="container">
    <div class="row">
        <a class="col-md-3 btn btn-warning jumbotron" style="border-color: aliceblue;" href="/memehub/meme/category/undifined">
            <img src="/img/undifined.jpg" class="img-fluid" style="width: 200px; height: 200px;">
            <h3>Undifined</h3>
        </a>
        <a class="col-md-3 btn btn-warning jumbotron" style="border-color: aliceblue;" href="/memehub/meme/category/nonsense">
            <img src="/img/nonsense.jpg" class="img-fluid" style="width: 200px; height: 200px;">
            <h3>Non-sence MEME</h3>
        </a>
        <a class="col-md-3 btn btn-warning jumbotron" style="border-color: aliceblue;" href="/memehub/meme/category/comsci">
            <img src="/img/comsci.jpg" class="img-fluid" style="width: 200px; height: 200px;">
            <h3>Com-sci MEME</h3>
        </a>
        <a class="col-md-3 btn btn-warning jumbotron" style="border-color: aliceblue;" href="/memehub/meme/category/science">
            <img src="/img/science.jpg" class="img-fluid" style="width: 200px; height: 200px;">
            <h3>Science MEME</h3>
        </a>
    </div>
</div>
<%- include("../partials/footer") %>